
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}


/* Custom scrollbar cho webkit browsers */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}